<template name="navtabTela">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Genero</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Editora</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Autor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Livro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Cliente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Emprestimo</a>
        </li>



    </ul>


</template>